body{
    
    background : url("com.jfif");
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    background-size: flex;
    
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    border-radius: 20px;
    padding:30px;
    background-color: rgba(33, 29, 29, 0.792);
    color:azure
}

h1{
    text-align: center;
    color:#f3106b;
}

.box {
    position:relative;
    width: 125px;
    height: 50px;
    background:rgb(86, 5, 86);
    border-radius: 10px;
    overflow: hidden;
    margin-left:120px;
    }
    .box::before{
        content:'';
        position:absolute;
        top:-50%;
        left:-50%;
        width:125px;
        height:50px;
        background: linear-gradient(60deg,transparent,#0ef457,#0ef457);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    
    .box::after{
        content:'';
        position:absolute;
        top:-50%;
        left:-50%;
        width:125px;
        height:50px;
        background: linear-gradient(60deg,transparent,#d9138a,#d9138a);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
    
    @keyframes animate
    {
        0%{
            transform: rotate(0deg);
        }
        100%{
              transform: rotate(360deg);
        }
    }
    button{
        position: absolute;
        inset:2px;
        border-radius: 10px 10px;
        background: #c1c1c7;
        z-index: 10;
        padding: 3px 3px;
        display: flex;
        flex-direction: column;
        color: rgba(101, 23, 246, 0.968);
        font-size: 20px;
        width:auto;
        display: grid;
        padding-top: 10px;

    }
  
    
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
    border-radius: 10px;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}
a{
    margin-top: 10px;
    font-size: 20px;
    color:rgb(235, 156, 106);
    display: grid;
    margin-left: 100px;
}